.mainVisualization {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.toolBar {
    display: grid;
    grid-gap: 0px 0px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    position: fixed;
    top: 92%;
    left: 30%;
    width: 50%;
    height: 8%;
    background-color: transparent;
}

.starsList {
    height: .2%;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
}

.bookmarkList {
    display: grid;
    grid-gap: 0px 0px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    position: fixed;
    top: 5%;
    width: 50%;
    height: 8%;
    color: white;
    background-color: transparent;
}

.legend {
    display: grid;
    grid-gap: 0px 0px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 8%;
    background-color: black;
}

.grid-item-r {
    background-color: #F12F26;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}
.grid-item-o {
    background-color: #F77526;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}
.grid-item-y {
    background-color: #FAFF52;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}
.grid-item-yw {
    background-color: #F5FAB7;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}
.grid-item-w {
    background-color: #FFFFFF;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}
.grid-item-bw {
    background-color: #C2E9FC;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}
.grid-item-b {
    background-color: #289DFF;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 9px;
    font-size: 15px;
    text-align: center;
}

.modal {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
}

.modalHeader {
    text-align: center;

}

.modalText {
    text-align: center;
    font-size: 20px;
}

.starDescription {
    transform: translate3d(25%, -40%, 0);
    text-align: left;
    background: #679698;
    color: black;
    font-size: 30px;
    padding: 10px 15px;
    border-radius: 30px;
    border: solid #26B2D9;
}

.focusedDescription {
    transform: translate3d(25%, -60%, 0);
    text-align: left;
    background: #986967;
    color: black;
    font-size: 30px;
    padding: 10px 15px;
    border-radius: 30px;
    border: solid #D94D26;
}

.stats {

}
