.mainVisualization {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 75%;
    background-color: black;
}

.miniMap {
    position: fixed;
    top: 0;
    width: 20%;
    height: 20%;
    float: right;
    background-color: black;
    border: 5px solid white;
}

.starsList {
    height: .95%;
    overflow: hidden;
    overflow-y: scroll;
}

.legend {
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 8%;
    background-color: white;
}
